.color-amarillo
{
    color: #f0ca04;
}
/***************
-----HEADER
****************/
.control-main
{
    z-index: 50;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}
header.header-control
{
    padding-top: 10px;
    background: #35353d;
}
#useracc
{
    width: 100%;
    text-align: right;
    color: #d1d1d1;
}
#control_logo
{
    float: left;
    width: 50%;
}
#seleccionar_evento
{
    float: right;
    width: 50%;
    padding-top: 30px;
    text-align: right;
}
#seleccionar_evento span
{
    display: inline-block;
    width: 60%;
    margin-right: 35%;
    text-align: center;
    color: #fff;
}
#control-titulo-evento,
#paraFecha,
.datos-inicio-fin,
.datos-hms input,
.ulRM li
{
    cursor: pointer;
}
#paratuseventos-container
{
	position: fixed;
    z-index: 999;top: 0;right: 0;
    left: 0;
    height: 1px;
    margin: 0 auto;
}
#paratuseventos
{
    line-height: 2em;
    position: absolute;
    top: 46px;
    right: 21px;
    overflow: hidden;
    width: 230px;
    margin-top: 0;
    padding: 0 1em;
    cursor: pointer;
    color: #000;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background: #87e0fd; /* Old browsers */
    background:    -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
    background:      -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
    background:     -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
    background:         linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
    box-shadow: 0 2px 6px rgba(40, 20, 0, .6);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}
#spneventos
{
    padding: 0;
}
#uldeEventos
{
    clear: both;
    margin: 0;
    padding-bottom: 5px;
}
#uldeEventos li
{
	font-size: 14px;
	font-weight: normal;
    padding-left: 10px;
}
#uldeEventos li:last-of-type
{
    border: none;
}
#uldeEventos
{
    display: block;
    margin-left: -10px;
    padding-left: 0;
    list-style: none outside none;
}
#laflecha
{
    position: absolute;
    top: 9px;
    right: 8px;

    width: 16px;
    height: 16px;

    background-image: url(../img/down.png);
    background-position: center center;
}
input.input-editar-titulo
{
    font-family: 'Montserrat';
    font-size: 50px!important;
    font-weight: bold;
    line-height: 60px!important;
    width: 100%;
    height: auto!important;
    margin: 0 auto!important;
    margin-top: .2rem!important;
    margin-bottom: .5rem!important;
    padding: 0;
    text-align: center;
    text-align: center;
    color: #1dbbe9;
}
input.input-editar-fecha
{
    font-size: 38px!important;
    width: 100%;
    height: auto!important;
    margin: 0 auto!important;
    padding: 0;
    text-align: center;
    color: #1dbbe9;
}
input.input-fecha
{
    position: absolute;top: 0;left: 0;
}
.lblfecha
{
    font-size: 42px;
    float: left;
    padding: 13px 0 10px 10px;
    letter-spacing: .06em;
    color: #fff;
}

/***************
-----MENU
****************/
#control_menuprincipal ul
{
    width: 100%;
    text-align: center;
}
#control_menuprincipal ul li
{
    font-family: 'Roboto';
    font-weight: normal;
    display: inline-block;
    margin-right: 2px;
    text-align: center;
}
#control_menuprincipal ul li a
{
    display: block;
    padding: 10px 40px;
    color: #000;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
            border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
            border-top-right-radius: 10px;
	background: #55c0d0;
}
#control_menuprincipal ul li.li-select a
{
    background: #fff;
}
#control_menuprincipal ul li a:hover
{
    background: #fff;
}
input.sn
{
    line-height: 1em;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
input.sn:focus
{
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}
span#errevfecha
{
    display: block;
    float: none;
    text-align: center;
}
input.center
{
    text-align: center;
}
input.w100
{
    width: 100%;
}
.datos-dma input.input-fecha
{
    font-size: 42px;
    line-height: 68px;
    letter-spacing: .06em;
    color: #fff;
}
.datos-hms input.input-hora
{
    font-size: 34px;
    line-height: 62px;
    height: 60px;
    letter-spacing: .08em;
    color: #fff;
    border: 0
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
         box-shadow: none;
}

/***************
-----NOMBRE DEL EVENTO
****************/
.control_fecha
{
    text-align: center;
}
.gestionarotro
{
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    color: #8c8d8f;
}
/***************
-----PROGRESO
****************/
.etapa
{
    font-weight: 300;
    text-align: center!important;
}
.etapa-circulo
{
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: bold;
    line-height: 55px;
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-top: 30px;
    vertical-align: middle;
    color: #fff;
    border-radius: 55px;
}
.etapa-circulo-1
{
    border: 0 solid #bf8723;
    background-color: #f0ca04;
}
.etapa-circulo-2
{
    border: 0 solid #a6451f;
    background-color: #e8562b;
}
.etapa-circulo-3
{
    border: 0 solid #5b8a94;
    background-color: #7dbcc9;
}
.etapa-circulo-current
{
    font-size: 3em;
    line-height: 73px;
    width: 85px;
    height: 85px;
    margin-top: 0;
    border-width: 6px;
    border-radius: 85px;
}
#progreso-container
{
    position: relative;
    width: 100%;
    height: 20px;
}
.progreso
{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    border-left: 2px solid #fff;
    background: #4cc2ff;
    background-image: url(../img/progreso.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.datos-tickets .progreso
{
    width: 50%;
}
.datos-principales .progreso
{
    width: 16.667%;
}
.datos-formulario .progreso
{
    width: 83.3337%;
}
.progreso-regla
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-image: url(../img/progreso-regla.png);background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 20px;
}
.vineta
{
    position: relative;
    height: 30px;
}
.indicador
{
    position: absolute;
    top: -20px;
    width: 40px;
    height: 20px;
    margin-left: -20px;
}
.datos-tickets .indicador
{
    left: 50%;
    background-image: url(../img/tr-ticket.png);
}
.datos-principales .indicador
{
    left: 16.6667%;
    background-image: url(../img/tr-datos.png);
}
.datos-formulario .indicador
{
    left: 83.3333%;
    background-image: url(../img/tr-form.png);
}

.datos-tickets .vineta
{
    background: #e8562b;
}
.datos-principales .vineta
{
    background: #f0ca04;
}
.datos-formulario .vineta
{
    background: #7dbcc9;
}
/***************
-----INFORMACION DEL EVENTO
****************/
div.control-evento-container
{
    padding: 20px 0;
}
.box
{
    padding: 10px;
    border: 2px solid #000;
}
.box:before,
.box:after,
.sub-box:before,
.sub-box:after,
.box-row-form:before,
.box-row-form:after
{
    display: table; 
    content: ' ';
}
.box:after,
.sub-box:after
{
    clear: both;
}

div.control_datos_evento
{
    position: absolute;
    top: 29px;
    left: 40px;
    padding: 30px 15px 5px;
}
figure
{
    margin: 0;padding: 0;
}
.sub-box h3,
.sub-box h4,
.sub-box h5
{
	line-height: 1em;
    margin-bottom: 0;
}
.control_datos_acciones
{
    margin-bottom: 10px;
    color: #6dbae7;
}
.control_datos_acciones a
{
    color: #1dbbe9;
}
#control_datos_logo
{
    margin-bottom: 10px;
    vertical-align: bottom;
}
#codigodebarras
{
    vertical-align: bottom;
}
.control_datos_img
{
    text-align: center;
}
/*CREA Y ASIGNA*/
.box
{
    position: relative;
}
.box .box-titulo
{
    margin-top: -12px;
    margin-right: -10px;
    margin-left: -10px;
    text-align: center;
    border-top: 2px solid #000;
}
.box .box-titulo h4
{
    margin-top: -22px;
    text-align: center;
}
.box h4 span
{
    padding: 0 10px;
    text-align: center;
    color: #000;
    background: #ebedec;
}
.box-left
{
    margin-right: 10px;
}
.box-right
{
    margin-left: 10px;
}
.box-column50
{
	float: left;
    width: 50%;
}
.box-row-form,
.box-inline-form
{
    padding: 0 0 10px 0;
}
.box-inline-form label,
.box-inline-form input,
.box-inline-form select
{
    float: left;
    width: auto;
    vertical-align: middle;
    border: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.box-inline-form label
{
    line-height: 37px;
    width: 23%;
}
.box-inline-form input,
.box-inline-form select
{
    width: 77%;margin-bottom: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.datos-inicio-fin
{
	height: 84px;
    background: transparent url('../img/sprite_hora.png') left top no-repeat;
}
.datos-hms
{
    float: left;width: 128px;margin-left: 50px;background-position: right top;
}
.datos-dma
{
    float: right;width: 197px;
}
.datos-hms-rojo
{
    background-position: right bottom;
}
.datos-dma-rojo
{
    background-position: left bottom;
}

.label-img
{
    width: 96%;height: 150px;
    text-indent: -1000em;
    opacity: 1;
    background: #F0CA04;
    background-repeat: no-repeat;
    background-position: center center!important;
}

.label-img2
{
    width: 96%;height: 235px;
    text-indent: -1000em;
    opacity: 1;
    background: #F0CA04;
    background-repeat: no-repeat;
    background-position: center center!important;
}

.label-img-form
{
    width: 98%;height: 100px;
    text-indent: -1000em;
    opacity: .3;
    background: #f0ca04;
    background-repeat: no-repeat;
    background-position: center center!important;
}
.label-img-current
{
    opacity: .3;
}
.label-invitacion
{
    background-image: url('../img/porinvitacion.png');background-repeat: no-repeat;
}
.label-participantes
{
    margin: 0 auto;
    background-image: url('../img/participantes.png');background-repeat: no-repeat;
}
.label-confirmacion
{
	float: right;
    background-image: url('../img/confirmacion.png');background-repeat: no-repeat;
}
.label-visible
{
	float: right;
    background-image: url('../img/visible.png');background-repeat: no-repeat;
}
.label-obligatorio
{
    background-image: url('../img/obligatorio.png');background-repeat: no-repeat;
}
.input-con-bg
{
    background: #fff url('../img/form_bg.png') 0 0 repeat-x;
}
.box-inline-form label.for
{
    width: auto;
}
.form-checkbox input
{
    width: auto;
}
.input-inline-group
{
    float: left;width: 77%;
}
.input-inline-group input
{
	display: inline-block;
    float: none;width: 20px;height: 20px;margin: 0;padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.input-inline-group label
{
	display: inline-block;
    float: none;
}
.visible-small
{
    display: none;
}

.dni-form input
{
	float: left;
    width: 23%;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.dni-form span
{
	display: inline-block;float: left;
    margin: 0 5px;
}
.inner-row-form
{
    margin-bottom: 5px;
    padding: 10px 10px 10px 10px;
    background: #92d9e0;
}
.inner-row-form .control_datos_acciones
{
    float: right;
    clear: both;
    margin-top: 5px;
    margin-bottom: 0;
}
#form-inscripcion
{
    margin: 0 10px;
    padding: 15px;
    background: #c3e5e9;
}
#planillas-predefinidas
{
    margin: 5px 10px;
}
#form-inscripcion h5
{
    font-family: 'Montserrat';
    text-align: center;
    text-decoration: underline;
    color: #4a737c;
}
.bn-form-incripcion
{
    width: 100%!important;
}

/*FORMULARIO*/

#map-canvas
{
    height: 437px;
}
input.input-cantidad-participantes
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 40%;
    margin: 10px auto;
}
.bn-grabar
{
    margin: 20px 0 0 0;
}
#catrecorre li
{
    float: left;margin-right: 10px;
}
.clickable
{
    cursor: pointer;
}
.recorrecat
{
    width: 10px;
    height: 10px;
    margin-top: 5px;
    margin-bottom: -5px;
    text-indent: -999em;
    border-radius: 10px;
    background: #4ac4ec;
}
.slider-ticket
{
    background: transparent url(../img/ticket-demo.png) 0 0 / cover no-repeat;
}
#catnext
{
    position: absolute;
    z-index: 50;
    top: -35px;
    right: -35px;
    bottom: 0;
    width: 35px;
    height: 70px;
    margin: auto;
    cursor: pointer;
    background-image: url('http://www.tres-erres.com.ar/walker/ico/derecha.png');
    background-size: cover;
}
#catprev
{
    position: absolute;
    z-index: 50;
    top: -35px;
    bottom: 0;
    left: -35px;
    width: 35px;
    height: 70px;
    margin: auto;
    cursor: pointer;
    background-image: url('http://www.tres-erres.com.ar/walker/ico/izquierda.png');
    background-size: cover;
}
input.input-100
{
    width: 100%;
}
.al-100
{
    width: 100%;
}
select
{
    background: none;
    background: #fff;
}
#menuMobile,
#menuEventosMobile
{
    color: #fff;
}
#menuMobile ul li,
#menuEventosMobile ul li,
#emailMobile
{
    text-align: center;
    border-bottom: 1px solid #d1d1d1;
}
#menuMobile ul li a,
#menuEventosMobile ul li a,
#emailMobile
{
    display: block;
    padding: 10px;
    color: #fff;
}
.reveal-modal
{
    top: 40px;right: 0;
    left: 0;
    overflow: hidden;
    width: 80%;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding: 0!important;
    background: #7dbcc9;
}

.mobile-menu
{
    display: inline-block;
    float: left;
    width: 44px;height: 28px;
    margin-top: 6px;
    margin-right: 10px;
    text-indent: -999999px;
    border-right: 2px solid #666;background-image: url(../img/menu-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 34px 28px;
}
.mobile-menu-eventos
{
    display: inline-block;
    float: right;
    padding-top: 7px;
    padding-right: 18px;
    vertical-align: middle;
    background-image: url(../img/arrowM.png);
    background-repeat: no-repeat;
    background-position: right 10px;
    background-size: 16px 16px;
}
.ulRM .li-select
{
	color: #555!important;
    background: #fff;
}
.ulRM .li-select a
{
    color: #555!important;
}
.ulRM li:hover
{
    background: #fff;
}
.ulRM li:hover a
{
    color: #555!important;
}
.ulRM .li-select
{
    color: #555!important;
}
.ulRM li:hover
{
    color: #555!important;
}
#uldeEventosM li
{
    padding: 10px;
}

/*#########MEDIA QUERIES###########*/

@media screen and (min-width: 1025px) and (max-width: 1170px){
    #control_menuprincipal ul li a
    {
        padding: 10px 20px!important;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .row
    {
    	max-width: 724px;
        padding: 0 5px;
    }
    div.box-right,
    div.box-left
    {
    	margin-right: 0;
        margin-left: 0;
    }
    span#errevfecha
    {
        display: block;
        float: none;
        text-align: center;
    }
    div.control_datos_evento
    {
        top: 19px!important;
        left: 26px!important;
        overflow: hidden;
        width: 39%;
        padding: 10px!important;
    }
    div.control_datos_evento h3
    {
        font-size: 1.2em;
    }
    div.control_datos_evento h5
    {
        font-size: 1em;
    }
    .visible-small
    {
        display: block!important;
    }
    .label-img
    {
        background-size: 90%!important;
    }

   .label-img2
    {
        background-size: 90%!important;
    }    
    .box-row-form label.label-img-form
    {
        width: 98%!important;
    }
    .box-row-form label.label-img-form.label-visible
    {
        float: right!important;
    }
}

@media screen and (max-width: 1024px){
    #losTabs
    {
        margin-top: 40px;
    }
    .control_titulo
    {
        margin-top: 40px;
    }
    .header-control
    {
        position: fixed;
        z-index: 80;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto!important;
        padding: 10px 0!important;
    }
    .hide
    {
        display: none;
    }
    #control_logo
    {
        width: 100%!important;
        margin: 0!important;
        padding: 0!important;
    }
    #control_logo img
    {
    	float: left;
        width: 150px!important;
    }
    input.input-editar-titulo
    {
        font-size: 42px!important;
        line-height: 60px!important;
    }
    input.input-editar-fecha
    {
        font-size: 28px!important;
    }
}

@media screen and (max-width: 767px){
    .control_titulo
    {
        margin-top: 40px;
    }
    .row
    {
    	max-width: 580px;
        padding: 0 5px;
    }
    h1,
    .f-size-h1
    {
        font-size: 1.5em;
        line-height: 1em;
    }
    h2,
    .f-size-h2
    {
        font-size: 1.4em;
        line-height: 1em;
    }
    h3,
    .f-size-h3
    {
        font-size: 1.3em;
        line-height: 1em;
    }
    h4,
    .f-size-h4
    {
        font-size: 1.2em;
        line-height: 1em;
    }
    h5,
    .f-size-h5
    {
        font-size: 1.1em;
        line-height: 1em;
    }
    h6,
    .f-size-h6
    {
        font-size: 1em;
        line-height: 1em;
    }
    input.input-editar-titulo
    {
        font-size: 1.5em!important;
        line-height: 1em!important;
    }
    input.input-editar-fecha
    {
        font-size: 1.3em!important;
    }
    div.etapa-circulo
    {
        font-size: 1.3em;
        line-height: 35px;
        width: 35px;
        height: 35px;
        margin-top: 10px;
        border-radius: 35px;
    }
    div.etapa-circulo-current
    {
        font-size: 1.5em;
        line-height: 42px;
        width: 45px;
        height: 45px;
        margin-top: 0;
        border-width: 3px;
        border-radius: 45px;
    }
    .progreso-regla
    {
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% 10px;
    }

    .box .box-titulo h4
    {
        margin-top: -14px!important;
    }
    div.box-column50
    {
        width: 100%;
    }
    div.datos-dma,
    div.datos-hms
    {
        float: none;
        margin: 0 auto;
    }
    div.datos-hms
    {
        margin-top: 20px;
    }
    span#errevfecha
    {
        display: block;
        float: none;
        text-align: center;
    }
    .box-row-form label,
    .box-inline-form label
    {
        display: block!important;
        float: none!important;
        width: 100%!important;
        text-align: center;
    }
    .box-row-form input[type='text'],
    .box-inline-form input[type='text'],
    .box-inline-form select
    {
        display: block;
        float: none!important;
        width: 100%!important;
        text-align: center;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }
    div.box-right,
    div.box-left
    {
    	margin-right: 0;
        margin-left: 0;
    }

    .box-row-form label.label-img
    {
        width: 98%!important;
        background-size: 80%!important;
    }

    .box-row-form label.label-img.label-confirmacion
    {
        float: right!important;
    }


    .box-row-form input.input-cantidad-participantes
    {
        bottom: 10px!important;
        width: 50%!important;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }
    div.slider-ticket-wrapper
    {
        overflow-x: auto;
        width: 100%;border: 1px solid #e8562b;
    }
    div.slider-ticket
    {
        width: 650px;
    }
    div.control_datos_evento
    {
        top: 0!important;
    }
    div#catprev
    {
        left: -23px;
        width: 23px;
    }
    div#catnext
    {
        right: -23px;
        width: 23px;
        background-position: right;
    }
    .visible-small
    {
        display: block!important;
    }

    div.input-inline-group
    {
        width: 100%;text-align: center!important;
    }
    div.input-inline-group input
    {display: inline-block!important;
        float: none;width: 20px!important;height: 20px;margin: 0;
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    div.input-inline-group label
    {
    	display: inline-block!important;
        float: none;width: auto!important;
    }
    div.control_datos_acciones
    {
    	float: none!important;
        text-align: center!important;
    }
    div#map-canvas
    {
        height: 247px!important;
    }
    div.reveal-modal
    {
        min-height: 0!important;
    }
    .box-row-form label.label-img-form
    {
        width: 98%!important;
    }
    .box-row-form label.label-img-form.label-visible
    {
        float: right!important;
    }

    .dpnone
    {
        display: none!important;
    }
}
@media (max-width: 520px){
    .row
    {
        max-width: 90%!important;
    }
    .row .row
    {
        max-width: 100%!important;
    }
    #control_logo img
    {
    	float: left;
        width: 100px!important;
    }
    .mobile-menu
    {
        margin-top: 0!important;
    }
    .dpnone
    {
        display: none!important;
    }
}
@media (max-width: 640px){
    .row
    {
        max-width: 480px;
    }
    .box-row-form label.label-img
    {
        width: 100%!important;
        margin-bottom: 10px!important;
        background-size: 60%!important;
    }
    .box-row-form label.label-img-form
    {
        background-size: auto 76% !important;
    }
    .dpnone
    {
        display: none!important;
    }
    .mobile-menu-eventos
    {
        padding-top: 5px!important;
    }
    .mobile-menu-eventos
    {
        background-size: 12px 12px;
    }
}
@media (max-width: 480px){
    .label-img
    {
        height: 100px;
    }
    .label-img.label-participantes
    {
        height: 147px;
        background-position: center 20px !important;
    }

    .box-inline-form label.for
    {
        width: 70% !important;
    }
    #control_logo img
    {
        line-height: 50px;
        float: left;
        width: 80px !important;
        padding-top: 4px;
    }

    .mobile-menu-eventos
    {
        font-size: 12px!important;
        padding-top: 7px;
    }
    .mobile-menu-eventos
    {
        background-position: right 5px;
        background-size: 12px 12px;
    }
    #form-inscripcion
    {
        margin: 0;
        padding: 15px 5px;
    }
    .dpnone
    {
        display: none!important;
    }
}
