html,
body
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-width: 300px;
    margin: 0 auto;
    padding: 0;
}
form
{
    margin: 0;padding: 0;
}
ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li,
.bn,
h3,
h5,
h6
{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
nav ul li
{
    display: inline-block;
}
.row
{
    max-width: 1170px;
    padding: 0 20px;
}
.row .row
{
    margin: 0;
}
.p0
{
    padding: 0;
}
.main_container
{
    z-index: 50;
    width: 100%;
    margin: 0 auto;
}
.columns
{
    padding: 0;
}
.m-top-30
{
    margin-top: 30px;
}
.row.m-top-30
{
    margin-top: 30px;
}
.m-top-15
{
    margin-top: 15px;
}
.row.m-top-40
{
    margin-top: 40px;
}
.f-size-h1
{
    font-size: 50px;
    font-weight: bold;
}
.f-size-h2
{
    font-size: 42px;
}
.f-size-h3
{
    font-size: 38px;
}
.f-size-h4
{
    font-size: 28px;
}
.f-size-h5
{
    font-size: 24px;
}
.f-size-h6
{
    font-size: 21px;
}
.f-size-h7
{
    font-size: 18px;
}
.f-montserrat
{
    font-family: 'Montserrat';
}
h1
{
	font-family: 'Montserrat';
	font-size: 50px;
	font-weight: bold;
    line-height: 60px;text-align: center;color: #1dbbe9;
}
h2
{
    font-size: 42px;
}
h3
{
    font-size: 38px;
}
h4
{
	font-family: 'Montserrat';
	font-size: 28px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 15px;
    color: #c95020;
}
h5
{
    font-size: 24px;
}
h6
{
    font-size: 21px;
}


.color-naranja
{
    color: #c95020;
}
.color-cyan
{
    color: #55c0d0;
}
.color-cyan-2
{
    color: #7dbcc9;
}
.color-azul
{
    color: #1dbbe9;
}
.bg-gris-claro
{
    background: #ebedec;
}
.bn
{
    font-size: 24px;
    display: inline-block;
    padding: 10px;
    padding: 10px 48px;
    cursor: pointer;
    color: #111;
    border: none;
    background: #f1cb0a;
}
.bn:hover
{
    color: #111;
    background: #a9c02d;
}
.al50
{
	display: inline-block;
    width: 45%;
}
#detalle_evento .al50
{
	float: left;
    width: 45%;
    padding-top: 10px;
    padding-left: 10px;
}
.divider
{
    float: left;
    clear: both;
    width: 100%;
    height: 18px;
    margin-bottom: 30px;
    border-bottom: 2px solid #88898b;
}
.spacer
{
	clear: both;
    height: 30px;
}
.spacer-double
{
	clear: both;
    height: 60px;
}
.spacer-mini
{
	clear: both;
    height: 15px;
}
/***************
-----HEADER
****************/
header
{
    padding-top: 65px;
}

/*COL IZQUIERDA*/
#ct
{
    font-size: 41px;
    width: 100%;
    padding-top: 16px;
    padding-left: 4px;
    text-align: center;
    color: #1dbbe9;
}
#ct_num
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#ct_txt
{
    font-size: 21px;
    display: block;
}
/*LINKS SOCIAL*/
.nav_social ul
{
    text-align: center;
}
.nav_social ul li
{
    margin-top: 10px;
    margin-right: 10px;
}
.nav_social ul li:last-of-type
{
    margin-right: 0;
}
.nav_social ul li a
{
    display: block;
    width: 22px;
    height: 22px;
    -webkit-border-radius: 22px;
       -moz-border-radius: 22px;
            border-radius: 22px;
    background-image: url(../img/social.png);
    background-repeat: no-repeat;
}
.nav_social ul li a:hover
{
    background-color: #fecc00;
}
.nav_social ul li .twitter
{
    background-position: 0 0;
}
.nav_social ul li .flickr
{
    background-position: -38px 0;
}
.nav_social ul li .tumblr
{
    background-position: -76px 0;
}
.nav_social ul li .facebook
{
    background-position: -114px 0;
}
.nav_social ul li .skype
{
    background-position: -151px 0;
}
/*COL CENTRO */
#logo_head
{
    display: block;
    width: 100%;
    padding-top: 3px;
    text-align: center;
}
/*MENU PRINCIPAL*/
#menu_principal ul
{
    text-align: center;
}
#menu_principal ul li
{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding: 10px 0;
    text-align: center;
}
#menu_principal ul li a
{
    font-size: 18px;
    line-height: 18px;
    display: block;
    padding: 0 20px;
    color: #454c4e;
    border-right: 1px solid #d1d1d1;
}
#menu_principal ul li:last-of-type a
{
    border-right: 0;
}
#menu_principal ul li a:hover
{
    color: #1dbbe9;
}
/*COL DERECHA*/
#busqueda
{
    margin-top: 24px;
    padding: 3px;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    background-color: #eceeed;
}
#busqueda_text
{
    float: left;
    width: 74%;
    margin: 0 0 0 18px;
    border: 0!important;
    background: none;
    box-shadow: none;
}
#busqueda_lupa
{
    width: 36px;
    height: 36px;
    cursor: pointer;
    border: 0;
    background-color: #1dbbe9;
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
}
/********************
SLIDE TOP
********************/
.sp_container
{
    overflow-x: hidden;
    overflow-y: auto;
    background: #9ddbf4 url(../img/bg_sky.png) 0 0 repeat;
    background-size: contain;
}
.sp_container:before,
.sp_container:after
{
    display: table; 
    content: ' ';
}
.sp_container:after
{
    clear: both;
}

.sp_slide
{
    position: relative;
    text-align: center;
}

/********************
CREAR EVENTO
********************/
.crear_evento input
{
    font-size: 28px;
    font-weight: 300;
    width: 100%;
    height: 66px;
    margin: 0;
    padding: 14px;
    color: #aeadae;
    border: 0;
}
#col_1
{
    padding: 10px 6px 10px 0;
}
#col_2
{
    padding: 10px 3px 10px 3px;
}
#col_3
{
    padding: 10px 0 10px 6px;
}
#col_3 input
{
    font-family: 'Roboto';
    cursor: pointer;
    color: #6dbae7;
    border: 0;
    background: #fff;
}
/********************
SLIDER DE EVENTOS
********************/
.borde-negro
{
    border: 26px solid #000!important;
}
.borde-small
{
    border-width: 15px!important;
}
#slider_eventos
{
    position: relative;
}

.slider_eventos_container .slide
{
    height: 432px;
}
.slider_eventos_container .slide .foto
{
    float: left;
    width: 69%;
    height: 100%;
    padding: 20px 0;
    text-align: center;
    border-right: 5px solid #000;
    background: #fff;
}

.datos_evento
{
    position: relative;
    width: 100%;
    padding: 20px 0;
    background: #fff;
}
.slider_eventos_container .slide .datos_evento
{
    float: right;
    width: 31%;height: 100%;
    text-align: center;
}
.datos_evento h3
{
    font-weight: bold;
    line-height: 45px;
    text-align: center;
}
.slide .bn
{
    margin-top: 12px;
}
.datos_evento > ul
{
    padding-top: 25px;
}
.datos_evento > ul li
{
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #a4a5a6;
}
.datos_evento ul li span
{
    text-transform: uppercase;
}

.datos_evento ul .f-size-h5
{
    font-size: 24px;padding: 11px;
}
.datos_evento ul li ul
{
    display: inline-block;
    margin-right: 21px;
    vertical-align: middle;
}
.datos_evento ul li ul li
{
    display: inline-block!important;
    width: auto;
    margin-top: 0;
    margin-right: 3px;
    border: 0;
}
.datos_evento ul li .nav_social
{
    display: inline-block!important;
    margin: 0!important;
}
.datos_evento ul li .compartir
{
    font-size: 14px;
    display: inline-block;
    margin-left: 25px;
}
.datos_evento ul li:last-of-type
{
    padding: 8px 0;
    border-bottom: 0;
}

#slider_eventos_pagination
{
    position: absolute;
    bottom: -27px;
    left: 0;
    width: 100%;
    height: 24px;
}
#slider_eventos_pagination ul
{
    width: 100%;
    text-align: center;
}
#slider_eventos_pagination ul li
{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 2px;
}
#slider_eventos_pagination ul li a
{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-bottom: 2px;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
    background: yellow;
    background: #fff;
}
#slider_eventos_pagination ul li .active,
#slider_eventos_pagination ul li a:hover
{
    background: #fe961d;
}
/********************
DETALLE DE EVENTOS
********************/
#horas_minutos_segundos
{
    font-weight: 300;
    position: relative;
    height: 216px;
    margin-top: 18px;
    text-align: center;
    background: url('../img/hms.png') no-repeat scroll center center #fff;
}
#hms_container
{
    display: block;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding-top: 38px;
}
#detalle_evento
{
    margin-top: 30px;
    padding: 15px 0;
    border: 2px solid #000;
}
#detalle_evento h3
{
    margin-bottom: 0;
    margin-left: 32px;
    padding-bottom: 4px;
    text-align: left;
    border-bottom: 2px solid #000;
}
#detalle_evento ul
{
    float: left;
    width: 49%;
    margin-top: 0;
    margin-left: 31px;
    padding-top: 7px;
    text-align: left;
}
#detalle_evento ul li
{
    padding: 3px 4px;
    text-align: left;
}
/********************
SERVICIOS
********************/
.servicios h4
{
    padding-left: 31px;
}
.servicios ul li
{
    font-size: 24px;
    font-weight: normal;
    line-height: 56px;
    padding-left: 31px;
    background: #fff url(../img/bg_list.png) 0 0 repeat-x;
    -webkit-background-size: 45px 100%;
            background-size: 45px 100%;
}
/********************
CREA COMPARTILO GESTIONALO DISFRUTALO
********************/
#slide_bottom
{
    margin-top: 60px;margin-bottom: 30px;
}
.slider_footer
{
    padding-top: 60px;padding-bottom: 60px;
    background-image: url(../img/slider_footer.png);
    background-repeat: no-repeat;
    background-position: 65% center;
}
#ccgd
{
    padding: 0 10px;
}
#ccgd ul
{
	margin: 0;padding: 0;
    border: 1px solid #000;
    border-bottom: 0;
}
#ccgd ul li
{
    font-family: 'Montserrat';
    display: block;
    padding: 7px 7px;
    border-bottom: 1px solid;
    background: transparent url(../img/sombra.png) 0 0 repeat-x;
}
#ccgd ul li a
{
    font-size: 21px;
    font-weight: bold;display: block;
    height: 70px;
    padding-top: 18px;
    padding-left: 90px;color: #000;background: transparent url(../img/sprite_list.png) 0 0 no-repeat;
}
#comparti
{
    background-position: 0 -70px!important;
}
#disfruta
{
    background-position: 0 -210px!important;
}
#gestiona
{
    background-position: 0 -140px!important;
}
#youtube
{
	width: 80%;
	height: 350px;
	margin: 0 auto;
    border: 15px solid #000;
}
/********************
FORMAS DE PAGO
********************/
.pago
{
    text-align: center!important;
    background: #fff url(../img/pago.png) 0 0 repeat-y;
    background-size: 100% auto;
}
.pago strong
{
	font-size: 28px;
	display: block;
	margin-top: 16px;
	text-align: center;
    color: #54bfd1;
}
.pago p
{
	font-size: 24px;
	padding: 0 20px;
    color: #f28822;
}

.pago_img
{
	width: 100%;
    height: 165px;
    background: transparent url() center center no-repeat;
}
.pago_img_1
{
    background-image: url(../img/bf_1.png);
}
.pago_img_2
{
    background-image: url(../img/bf_2.png);
}
.pago_img_3
{
    background-image: url(../img/bf_3.png);
}
.pago hr
{
	margin-right: 20px!important;
    margin-left: 20px!important;
}
#tr
{
    position: absolute;
    top: 0;
    left: -29px;
    width: 30px;
    height: 100%;
    background: url('../img/tr.png') no-repeat scroll center center transparent;
}
#tr_top
{
    position: absolute;
    top: -29px;
    display: none;
    width: 100%;
    height: 30px;
    background: url('../img/tr_top.png') no-repeat scroll center center transparent;
}
#r1
{
    position: absolute;
    z-index: 94;
    top: -87px;
    right: -132px;
}
#r2
{
    position: absolute;
    top: -18px;
    right: -109px;
}
#l1
{
    position: absolute;
    top: -62px;
    left: 0;
}
/********************
FOOTER
********************/
footer
{
	padding-bottom: 20px;
    border-bottom: 15px solid #000;
}
.hms_num
{
    font-size: 100px;
    float: left;
    width: 33.3%;
    color: #fff;
}
footer
{
    padding-top: 60px;
}
#menu_footer ul
{
    text-align: center;
}
#menu_footer ul li
{
    font-weight: normal;
    padding: 0 0;
    padding: 12px 0 0;
    text-align: center;
}
#menu_footer ul li a
{
    font-size: 18px;
    line-height: 18px;
    display: block;
    padding: 0 20px;
    color: #454c4e;
    border-right: 1px solid #d1d1d1;
}
#menu_footer ul li:last-of-type a
{
    border-right: 0;
}
#menu_footer ul li a:hover
{
    color: #1dbbe9;
}

.relative
{
    position: relative;
}

/*QUERIES*/
@media screen and (min-width: 1025px) and (max-width: 1170px){
    #menu_footer ul li a
    {
        padding: 0 10px!important;
    }
    .compartir
    {
        margin-left: 5px!important;
    }
    .datos_evento ul li ul
    {
        margin: 0!important;
        margin-right: 5px!important;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .row
    {
        max-width: 724px;
    }
    #menu_footer ul li
    {
        padding: 0!important;
    }
    #busqueda_text
    {
        width: 90%!important;
    }
    h1
    {
    	font-size: 42px;
        line-height: 60px;
    }
    h2
    {
        font-size: 38px;
    }
    h3
    {
        font-size: 28px;
    }
    h4
    {
        font-size: 24px;
    }
    h5
    {
        font-size: 21px;
    }
    h6
    {
        font-size: 18px;
    }
    .f-size-h1
    {
        font-size: 42px;
        font-weight: bold;
    }
    .f-size-h2
    {
        font-size: 38px;
    }
    .f-size-h3
    {
        font-size: 28px;
    }
    .f-size-h4
    {
        font-size: 24px;
    }
    .f-size-h5
    {
        font-size: 21px;
    }
    .f-size-h6
    {
        font-size: 18px;
    }
    .f-size-h7
    {
        font-size: 16px;
    }
    .bn
    {
        font-size: 21px;
    }
    #ct
    {
        font-size: 38px;
    }
    #ct_txt
    {
        font-size: 18px;
    }
    #menu_principal ul li a
    {
        font-size: 16px;
    }
    .crear_evento input
    {
        font-size: 21px;
    }
    .datos_evento > ul li
    {
        font-size: 16px;
    }
    .datos_evento ul .f-size-h5
    {
        font-size: 21px;
    }
    .datos_evento ul li .compartir
    {
        font-size: 12px;
    }
    .servicios ul li
    {
        font-size: 21px;
    }
    #ccgd ul li a
    {
        font-size: 18px;
    }
    #menu_footer ul li
    {
        font-size: 18px;
    }
    #menu_footer ul li a
    {
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px){
    header
    {
        padding-top: 10px;
    }
    .slide
    {
        height: auto!important;
    }
    .slide .foto
    {
        width: 100%!important;
        height: auto!important;
        border-right: 0!important;
    }
    .slide .foto img
    {
        width: 60%!important;
    }
    .datos_evento br
    {
        display: none!important;
    }
    .datos_evento
    {
    	width: 100%!important;
        padding: 0!important;
    }

    #tr
    {
        display: none!important;
    }
    #tr_top
    {
        display: block!important;
    }

    #ct
    {
    	margin-bottom: 10px!important;
        padding-top: 0!important;
        padding-left: 0!important;
    }
    .m-top-30
    {
        margin-top: 20px!important;
    }
    .servicios ul li
    {
        font-size: 16px!important;
        line-height: 36px!important;
    }
    .ads
    {
        padding-top: 54px!important;
    }
    .servicios h4
    {
        width: 120%!important;
    }
    #slide_bottom
    {
        margin-top: 30px!important;
        margin-bottom: 30px!important;
    }
    .slider_footer
    {
        padding-top: 30px!important;
        padding-bottom: 30px!important;
    }
    #youtube
    {
    	width: 100%!important;
    	height: 341px;
        margin: 0 auto!important;
    }
    .pago strong
    {
        font-size: 18px!important;
    }
    .pago p
    {
        font-size: 14px!important;
    }
    footer
    {
        margin-top: 20px!important;
        padding-top: 10px!important;
        padding-bottom: 5px!important;
        background: #fafafa!important;
    }
    footer .m-top-30
    {
        margin-top: 10px!important;
    }
    footer .row
    {
        max-width: 100%!important;
    }
    #logo_footer
    {
    	display: block;
    	max-width: 100px;
    	margin: 0 auto;
        margin-bottom: 10px!important;
        text-align: center!important;
    }
    #menu_footer ul
    {
        text-align: center!important;
    }
    #menu_footer ul li a
    {
        padding: 10px 20px!important;
    }
    #menu_footer ul li a
    {
        margin-right: 0!important;
        border-right: 0!important;
    }
    .datos_evento ul li .compartir
    {
        margin-left: 0!important;
    }
}
@media screen and (max-width: 767px){
    #menu_footer ul li
    {
        padding: 0!important;
    }
    .row
    {
        max-width: 580px;
    }
    #busqueda_text
    {
        width: 85%!important;
    }
    .servicios ul li
    {
        text-align: center!important;
    }
    .ads
    {
        display: none;
    }
    .tv
    {
        padding-top: 0!important;
        padding-bottom: 10px!important;
    }
    .tv h6 span
    {
        display: block;
    }
    .medium-8,
    .medium-6,
    .medium-4
    {
        width: 100%!important;
    }
    #ccgd
    {
        padding: 0!important;
    }
    .pago p
    {
        font-size: 18px!important;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    .pago strong
    {
        font-size: 21px!important;
    }
    .pago .pago_img
    {
    	height: 75px!important;
        background-size: 18%!important;
    }
    .pago
    {
    	padding-top: 20px!important;
        border-bottom: 5px solid #ccc!important;
    }
    .pago:nth-of-type(1)
    {
        border-top: 5px solid #ccc;
    }
    .pago br
    {
        display: none;
    }
    .servicios h4
    {
        font-size: 21px!important;
        width: 100%!important;
        text-align: center!important;
    }
    .tv
    {
        width: 100%!important;
        text-align: center!important;
    }
    #detalle_evento ul
    {
        width: 100%!important;
        margin-left: 0!important;
    }
    #detalle_evento ul li
    {
        text-align: center!important;
    }
    #detalle_evento h3
    {
        margin-left: 0!important;
        text-align: center!important;
    }
    .servicios ul li
    {
        padding-left: 0!important;
    }
    h1
    {
    	font-size: 42px;
        line-height: 60px;
    }
    h2
    {
        font-size: 38px;
    }
    h3
    {
        font-size: 28px;
    }
    h4
    {
        font-size: 24px;
    }
    h5
    {
        font-size: 21px;
    }
    h6
    {
        font-size: 18px;
    }
    .f-size-h1
    {
        font-size: 42px;
        font-weight: bold;
    }
    .f-size-h2
    {
        font-size: 38px;
    }
    .f-size-h3
    {
        font-size: 28px;
    }
    .f-size-h4
    {
        font-size: 24px;
    }
    .f-size-h5
    {
        font-size: 21px;
    }
    .f-size-h6
    {
        font-size: 18px;
    }
    .f-size-h7
    {
        font-size: 16px;
    }
    .bn
    {
        font-size: 21px;
    }
    #ct
    {
        font-size: 28px;
    }
    #ct_txt
    {
        font-size: 18px;
    }
    #menu_principal
    {
        margin-top: 15px!important;
    }
    #menu_principal ul li a
    {
        font-size: 16px;
    }
    .crear_evento input
    {
        font-size: 21px;
        text-align: center!important;
    }
    #col_1,
    #col_2
    {
    	padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }
    #col_3
    {
    	padding-right: 0;
        padding-left: 0;
    }
    .datos_evento .bn
    {
        margin-top: 0;
    }
    .datos_evento > ul
    {
        padding-top: 15px;
    }
    .datos_evento > ul li
    {
        font-size: 16px;
    }
    .slide .datos_evento > ul > li:nth-of-type(1)
    {
        border-top: 1px solid #a4a5a6;
    }
    .datos_evento ul .f-size-h5
    {
        font-size: 21px;
    }
    .datos_evento ul li .compartir
    {
        font-size: 12px;margin-left: 0!important;
    }
    .servicios ul li
    {
        font-size: 21px;
    }
    #ccgd ul li a
    {
        font-size: 18px;
    }
    #menu_footer ul li
    {
        font-size: 18px;
    }
    #menu_footer ul li a
    {
        font-size: 18px;
    }
    #slider_eventos
    {
        border-width: 10px!important;
        border-bottom-width: 26px!important;
    }
    .slide .foto
    {
        padding-bottom: 0!important;
    }
    .slide .foto img
    {
        width: 90%!important;
    }
    #detalle_evento ul li:nth-of-type(3)
    {
        border-bottom: 1px solid #a4a5a6;
    }
    #logo_head
    {
        max-width: 50%;margin: 0 auto;
    }
    .servicios h4
    {
        padding-left: 0!important;
    }
}

@media (max-width: 640px){
    .row
    {
        max-width: 480px;
    }
    #menu_footer ul li
    {
        display: block!important;
        border: 0!important;
        border-bottom: 1px solid #d1d1d1!important;
    }
    #horas_minutos_segundos
    {
        background-size: 90%;
    }
    #hms_container
    {
        display: block;
        width: 100%;
        max-width: 385px;
        margin: 0 auto;
        padding-top: 47px;
    }
    .hms_num
    {
        font-size: 80px!important;
    }
}

@media (max-width: 520px){
    .row
    {
        max-width: 90%!important;
    }
    .row .row
    {
        max-width: 100%!important;
    }
    #hms_container
    {
        max-width: 325px!important;
    }
}

@media (max-width: 480px){
    .row
    {
        max-width: 300px!important;
    }
    .main-nav-container
    {
        margin-top: 20px!important;
        padding: 0;
    }
    #busqueda
    {
        margin-top: 20px;
    }
    #busqueda_text
    {
        width: 76% !important;
        height: auto;
        padding: 3px 0;
    }
    #busqueda_lupa
    {
        width: 26px;height: 26px;
        background-size: cover;
    }
    #menu_principal ul li
    {
        width: auto!important;
    }
    #menu_principal ul li a
    {
        padding: 0 5px!important;
    }
    #horas_minutos_segundos
    {
        height: 115px!important;
    }
    #hms_container
    {
        max-width: 226px!important;
        padding-top: 17px!important;
    }
    .hms_num
    {
        font-size: 55px!important;
    }
    #ct
    {
        font-size: 21px!important;
    }
    #ct_txt
    {
        font-size: 14px!important;
    }
    .crear_evento input
    {
    	height: 45px!important;
        padding: 0!important;
    }
    .datos_evento ul li span
    {
        display: block;
    }
    #ccgd ul li a
    {
        font-size: 14px!important;
        padding-top: 22px!important;
    }
    #youtube
    {
        height: 200px;
        border-width: 5px;
    }
    .servicios ul li
    {
        font-size: 14px!important;
        line-height: 28px!important;
    }
}
