.destacado {
   font-family: 'Bangers', cursive;
   font-size: 40px;
}

.superdestacado {
   font-family: 'Bangers', cursive;
   font-size: 60px;
}

.pie{
	font-family: 'Text Me One', sans-serif;
	font-size: 20px;
	color: ##3B3B3B;
}

.mensaje{
	font-family: 'Text Me One', sans-serif;
	font-size: 17px;
}

.divFoto{
   border-color: #BFBBBC;
   border-width: 1px;
   border-style: solid;
   padding-bottom: 0.5em;
   padding-top: 0.5em;
   
}

.encabezado{
	font-family: 'Text Me One', sans-serif;
	font-size: 17px;
	color: #ffffff;
}

.elnombre{
	font-family: 'Baloo', cursive;
	font-size: 2em;
	color: #ffffff;
}
/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
  padding: 0;
  margin: 0;
}
 
 .mimenu {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 100;
}

nav {
  float: left; /* Desplazamos el nav hacia la izquierda */
}
 
nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}
 
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
 
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
 
nav ul li:hover {
  background: #333333;
}
